.collaboration-contract-container {
  background: #52dfc2;
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  .container {
    max-width: 1280px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .row {
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      .content-container {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        .content {
          width: 100% !important;
          justify-content: space-between !important;
          display: flex !important;
          .contract {
            color: #333;
            font-size: 26px;
            line-height: 2;
          }
          .button {
            border-radius: 0;
            background: #333;
            color: #fff;
            font-size: 18px;
            line-height: 1.5;
            padding: 12px 50px;
            cursor: pointer;

            display: inline-block;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            transition: color 0.15s ease-in-out,
              background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
          }
          .button:hover {
            background-color: #007bff;
          }
        }
      }
    }
  }
}
