.collaboration-container {
  background: url("../assets/img/bg-a-light.jpg") no-repeat 0 0 / 100%;
  padding: 60px 0 50px;
  background-size: cover;

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  .container {
    max-width: 1280px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .content-container {
      position: relative;
      width: 100%;
      background: rgba(235, 235, 235, 0.93);
      padding: 40px 50px 60px;
      margin-left: 25%;
      flex: 0 0 75%;
      max-width: 75%;
      .title {
        position: relative;
        font-size: 24px;
        line-height: 1.5;
        color: #666;
        padding-left: 65px;
      }
      .title::before {
        position: absolute;
        content: "";
        width: 45px;
        height: 2px;
        left: 0;
        background: #5925c4;
        top: 14px;
      }
      .heading {
        position: relative;
        font-size: 24px;
        line-height: 1.5;
        color: #666;
        margin-bottom: 0.5rem;
        font-weight: 500;
      }
      .collaboration-content-col {
        display: inline-block;
        width: 49%;
        padding: 10px 50px 0 70px;
        vertical-align: top;
        position: relative;
        .icon {
          background-image: url("../assets/img/icons.png");
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 70px;
          height: 60px;
        }
        .master-icon {
          position: absolute;
          width: 70px;
          height: 60px;
          left: 0;
          top: 72px;
          background-position: -254px -460px;
        }
        .delivery-icon {
          position: absolute;
          width: 70px;
          height: 60px;
          left: 0;
          top: 72px;
          background-position: -365px -373px;
        }
        .roi-icon {
          position: absolute;
          width: 70px;
          height: 60px;
          left: 0;
          top: 72px;
          background-position: -253px -372px;
        }
        .sme-icon {
          position: absolute;
          width: 70px;
          height: 60px;
          left: 0;
          top: 72px;
          background-position: -366px -458px;
        }
        .collaboration-heading {
          font-weight: 400;
          font-size: 24px;
          line-height: 1.5;
          color: #333;
          margin-bottom: 10px;
          .text {
            font-size: 16px;
            line-height: 1.5;
            color: #333;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
