.header-container {
  background-color: #eaf8ff;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  height: 36px;
  transition: 0.1s all ease-in;
  float: left;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.header-container-change {
  @extend .header-container;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #5925c4;
}
