.top-row {
  background: linear-gradient(
    to bottom,
    #eaf8ff 0%,
    #f7f9ff 32%,
    #f6f6ff 63%,
    #eaf8ff14 100%
  );
  padding-top: 54px;
  box-sizing: border-box;

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  .container {
    max-width: 1280px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .row {
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      .content-container-left {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
        box-sizing: border-box;
        .content {
          padding: 68px 0 75px;
          font-size: 35px;
          text-align: left;
          .heading {
            line-height: 1.5;
            font-weight: 500;
            display: block;
            span {
              color: #5925c4;
            }
          }
          .text {
            font-size: 20px;
            line-height: 1.5;
            color: #7e7d80;
          }
          p {
            display: block;
            .button {
              width: 200px;
              text-align: center;
              display: block;
              font-size: 16px;
              line-height: 1.5;
              color: #fff;
              background: #5925c4;
              border-radius: 0;
              padding: 14px;
              cursor: pointer;
              transition: color 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }
            .button:hover {
              background-color: #007bff;
            }
          }
        }
      }
      .content-container-right {
        max-width: 45%;
        flex: 0 0 50%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        .image {
          margin-top: 3rem !important;
          position: relative !important;
          .img-fluid {
            position: relative;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            border-style: none;
            z-index: 7;
          }
        }
      }
      .content-container-right::before {
        content: "";
        position: absolute;
        background: #52dfc2;
        height: 109%;
        width: 81%;
        border-radius: 64px;
        right: -14%;
        top: -7%;
        transform: rotate(-16deg);
      }
    }
  }
}
